@font-face {
    font-family: 'Fira Mono';
    src: url('eot/FiraMono-Regular.eot');
    src: url('eot/FiraMono-Regular.eot') format('embedded-opentype'),
    url('woff2/FiraMono-Regular.woff2') format('woff2'),
    url('woff/FiraMono-Regular.woff') format('woff'),
    url('ttf/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

#mainWindow {
    width: 65%;
    margin-left: 1%;
    float: left;
}

#console {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#vm {
    width: 31%;
    float: right;
    margin-right: 1%;
}

.window {
    margin-top: 3%;
    background-color: #212121;
    color: #FFFFFF;
    height: 80vh;
}

.block {
    background-color: #bdbdbd;
    height: 17%;
    width: 84%;
    margin-bottom: 7%;
    margin-top: 8%;
    margin-left: 8%;
    margin-right: 10%;
}

.blocktext {
    color: #000000;
    font-size: 1.4em;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 7%;
}

.cellval {
    padding-top: 2%;
}

#stdout {
    padding-top: 2%;
}

body {
    background-color: #ef9a9a;
    font-size: 1.2em;
    font-family: 'Fira Mono';
}
