<!doctype html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8"/>

    <title>CoffeeFuck</title>
    <meta name="description" content="Your best Brainfuck interpreter"/>
    <meta name="author" content="Ivan Scvh"/>

    <link rel="icon" type="image/png" th:href="@{pics/icon.png}" href="../static/pics/icon.png"
          sizes="64x32"/>

    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style/index.css"
          th:href="@{css/style/index.css}"/>

    <link rel="stylesheet" type="text/css" media="all" href="../static/css/lib/prism.css"
          th:href="@{css/lib/prism.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.11.0/tingle.min.css"
          rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/burger/2.0.2/css/burger.min.css"
          rel="stylesheet"/>

</head>

<body>
<header>
    <div class="b-nav">
        <li><a class="b-link b-link--active" href="/">Interpreter</a></li>
        <li><a class="b-link" href="/debugger">Debugger</a></li>
        <li><a class="b-link" href="#">Docs</a></li>
    </div>

    <div class="b-container">
        <div class="b-menu">
            <div class="b-bun b-bun--top"></div>
            <div class="b-bun b-bun--mid"></div>
            <div class="b-bun b-bun--bottom"></div>
        </div>

        <a href="#" class="b-brand"></a>
    </div>

    <div id="logo">
        <a href="/">
            <img id="logoimage" th:src="@{pics/logo.png}"/>
        </a>
    </div>
</header>
<div id="siteholder">
    <div class="window" id="mainWindow">
        <div id="inputholder">
					<pre id="console"><code id="inp" class="language-brainfuck"
                                            contenteditable="true">,</code></pre>
        </div>
    </div>
    <div class="window" id="vm">
        <div class="block">
            <div class="blocktext">
                Current memory cell:
            </div>
            <div class="blockval" th:text="${memoryCell}" id="memcell">
            </div>
        </div>
        <div class="block">
            <div class="blocktext">
                Current cell value:
            </div>
            <div class="blockval" th:text="${cellValue}" id="cellval"></div>
        </div>
        <div class="block">
            <div class="blocktext">
                Exec time:
            </div>
            <div class="blockval" th:text="${time}" id="exectime">
            </div>
        </div>
        <button class="block" id="memory">
            <div class="blocktext buttonblock">
                View memory dump
            </div>
        </button>
    </div>
</div>

<script>
    /*
     @licstart  The following is the entire license notice for the custom
     JavaScript code in this page.

     Copyright (C) 2014  Loic J. Duros

     The JavaScript code in this page is free software: you can
     redistribute it and/or modify it under the terms of the GNU
     General Public License (GNU GPL) as published by the Free Software
     Foundation, either version 3 of the License, or (at your option)
     any later version.  The code is distributed WITHOUT ANY WARRANTY;
     without even the implied warranty of MERCHANTABILITY or FITNESS
     FOR A PARTICULAR PURPOSE.  See the GNU GPL for more details.

     As additional permission under GNU GPL version 3 section 7, you
     may distribute non-source (e.g., minimized or compacted) forms of
     that code without the copy of the GNU GPL normally required by
     section 4, provided you include this license notice and a URL
     through which recipients can access the Corresponding Source.


     @licend  The above is the entire license notice
     for the JavaScript code in this page.
     */
</script>

<script type="text/javascript"
        th:src="@{//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/tingle/0.11.0/tingle.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/burger/2.0.2/scripts/burger.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-brainfuck.min.js}"></script>

<script th:src="@{js/code/main.js}"></script>
<script th:src="@{js/code/lines.js}"></script>
<script th:src="@{js/code/io.js}"></script>
<script th:src="@{js/code/runtime.js}"></script>
<script th:src="@{js/code/listeners.js}"></script>
<script th:src="@{js/code/ui.js}"></script>
<script th:src="@{js/code/backup.js}"></script>
<script th:src="@{js/code/alerts.js}"></script>
<script th:src="@{js/code/data.js}"></script>

<script>
    main()
</script>
</body>

</html>
