<!doctype html>

<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8"/>

    <title>CoffeeFuck</title>
    <meta name="description" content="Your best Brainfuck interpreter"/>
    <meta name="author" content="Ivan Scvh"/>

    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style/index.css"
          th:href="@{css/style/index.css}"/>

    <link rel="stylesheet" type="text/css" media="all" href="../static/css/lib/prism.css"
          th:href="@{css/lib/prism.css}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tingle/0.11.0/tingle.min.css"
          rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/burger/2.0.2/css/burger.min.css"
          rel="stylesheet"/>

</head>

<body>
<header>
    <div class="b-nav">
        <li><a class="b-link b-link--active" href="/">Interpreter</a></li>
        <li><a class="b-link" href="#">Debugger</a></li>
        <li><a class="b-link" href="#">Docs</a></li>
        <li><a class="b-link" href="/login">Sign in/Sign Up</a></li>
    </div>

    <div class="b-container">
        <div class="b-menu">
            <div class="b-bun b-bun--top"></div>
            <div class="b-bun b-bun--mid"></div>
            <div class="b-bun b-bun--bottom"></div>
        </div>

        <a href="#" class="b-brand"></a>
    </div>
</header>
<div>
    <div class="window" id="mainWindow">
        <div id="inputholder">
                <pre id="console"><code id="inp" class="language-brainfuck"
                                        contenteditable="true">,</code></pre>
        </div>
    </div>
    <div class="window" id="vm">
        <div class="block">
            <div class="blocktext cellval" th:text="'Current memory cell: ' + ${memoryCell}"
                 id="memcell">
            </div>
        </div>
        <div class="block cellval">
            <div class="blocktext" th:text="'Current cell value: ' + ${cellValue}" id="cellval">
                Current memory cell:
            </div>
        </div>
        <button class="block" id="clear">
            <div class="blocktext buttonblock" th:text="Clear">
            </div>
        </button>
        <button class="block" id="memory">
            <div class="blocktext buttonblock">
                View memory dump
            </div>
        </button>
    </div>
</div>

<script type="text/javascript"
        th:src="@{//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/tingle/0.11.0/tingle.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/burger/2.0.2/scripts/burger.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/prism.min.js}"></script>
<script th:src="@{//cdnjs.cloudflare.com/ajax/libs/prism/1.6.0/components/prism-brainfuck.min.js}"></script>

<script th:src="@{js/code/main.js}"></script>
<script th:src="@{js/code/lines.js}"></script>
<script th:src="@{js/code/io.js}"></script>
<script th:src="@{js/code/runtime.js}"></script>
<script th:src="@{js/code/listeners.js}"></script>
<script th:src="@{js/code/ui.js}"></script>
<script th:src="@{js/code/backup.js}"></script>
<script th:src="@{js/code/alerts.js}"></script>
<script th:src="@{js/code/data.js}"></script>

<script>
    main()
</script>
</body>

</html>
