#mainWindow {
    width: 62%;
    margin-left: 1%;
    float: left;
    background-color: #212121;
    padding: 1% 2%;
}

#vm {
    width: 31%;
    float: right;
    margin-right: 1%;
}

.window {
    color: #FFFFFF;
    height: 70%;
    margin-top: 3%;
}

.block {
    background-color: #212121;
    height: 25%;
    width: 88%;
    margin-left: 8%;
    margin-right: 10%;
    margin-bottom: 4%;
    border: none;
    box-shadow: none;
}

.blockval {
    font-size: 1.1em;
    text-align: center;
}

.btnbackup {
    color: #000000;
    background-color: #76ff03;
    border: none;
    box-shadow: none;
}

.blocktext {
    font-size: 1.4em;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 1%;
}

.bigwindow {
    width: 80%;
    height: 70%;
    margin: 2% 5% 5% 7%;
    background-color: #212121;
}

.bigtitle {
    padding-top: 10%;
    font-size: 72px;
    text-align: center;
    color: #FFFFFF;
}

#errorsmalltitle {
    padding-top: 5%;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}

#inputholder {
    border: none;
    min-height: 1.2em;
    display: inline-block;
    width: 85%;
    overflow: auto;
}

.output {
    min-height: 1.2em;
    display: inline-block;
    width: 85%;
    overflow: auto;
}

#registerlink {
    padding-top: 3%;
}

.securitylink {
    padding-top: 4%;
    text-align: center;
}

.securitylinkinside {
    color: #ffffff;
    text-decoration: none;
}

.securityform {
    text-align: center;
    color: #FFFFFF;
    padding-top: 10%;
}

#logo {
    text-align: center;
}

#logoimage {
    width: 80px;
    height: 100px;
}

#currentpoint {
    background-color: #FFFFFF;
}

.buttonblock {
    color: #FFFFFF;
}

body {
    background-color: #2196f3;
    font-size: 1.2em;
    font-family: 'Fira Mono';
}

header {
    padding-bottom: 0;
}