@font-face {
    font-family: 'Fira Mono';
    src: url('eot/FiraMono-Regular.eot');
    src: url('eot/FiraMono-Regular.eot') format('embedded-opentype'),
    url('woff2/FiraMono-Regular.woff2') format('woff2'),
    url('woff/FiraMono-Regular.woff') format('woff'),
    url('ttf/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

#mainWindow {
    width: 62%;
    margin-left: 1%;
    float: left;
    background-color: #212121;
    padding: 1% 2%;
}


#vm {
    width: 31%;
    float: right;
    margin-right: 1%;
}

.window {
    color: #FFFFFF;
    height: 80vh;
    margin-top: 3%;
}

.block {
    background-color: #212121;
    height: 19%;
    width: 88%;
    margin-left: 8%;
    margin-right: 10%;
    margin-bottom: 9.5%;
}

.blocktext {
    font-size: 1.4em;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 7%;
}

.cellval {
    padding-top: 2%;
}

#stdout {
    padding-top: 2%;
}

#errorwindow {
    width: 80vw;
    height: 70vh;
    margin: 5% 5% 5% 9%;
    background-color: #212121;
}

#errorbigtitle {
    padding-top: 10%;
    font-size: 72px;
    text-align: center;
    color: #FFFFFF;
}

#errorsmalltitle {
    padding-top: 5%;
    font-size: 48px;
    text-align: center;
    color: #FFFFFF;
}

.inputholder {
    border: none;
    min-height: 1.2em;
    display: inline-block;
    width: 85%;
    overflow: auto;
}

.output {
    min-height: 1.2em;
    display: inline-block;
    width: 85%;
    overflow: auto;
}
body {
    background-color: #8bc34a;
    font-size: 1.2em;
    font-family: 'Fira Mono';
}
